*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.left{
	float: left;
}
.right{
	float: right;
}
header{
	width: 100%;
	height: 60px;
}
nav{
	max-width: 1200px;
	margin: 0 auto;
	position: relative;

}
nav img{
	width: 150px;
	height: 40px;
	display: inline-block;
}
ul li a{
	padding: 5px;
	color: black;
	opacity: 0.8;	
}
ul li{
line-height: 60px;
}

.nav_left_bar{
	font-size: 14px;
	font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;
	width: 647.09px;
	height: 60px;
	display: inline-block;
}
.nav_left_bar li{
	float: left;
	margin-left: 10px;
}

.nav_right_bar{
	display: inline;
	font-size: 14px;
	width: 278.52px;
	height: 60px;
	font-family: PingFang SC,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;
}
.nav_right_bar li{
	float: right;
	margin-left:10px;
	color: black;
}
.nav_left_bar li:nth-child(7){
	position: relative;
}
.nav_left_bar li:nth-child(7) p{
	position: absolute;
	background-color: red;
	color: #fff;
	top: 13px;
	left: 58px;
	line-height: 15px;
	font-size: 10px;
	border-radius: 3px;
	opacity: 1;
}
/**/
#banner{
	width: 100%;
	background-color: rgb(249,250,253);
	margin-top: 27px;
}
.content{
	max-width: 1200px;
	height: 338px;
	margin-top: 30px;
	
	margin: 0 auto;
}
.carousel{
	width: 574px;
	height: 338px;
	overflow: hidden;
	float: left;
	border-radius: 5px;
	
}
.carousel img{
	width: 574px;
	height: 338px;
}
.technology{
	width: 260px;
	height: 320px;
	float: left;
	margin-top: 6px;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
.technology .img1,.technology .img2{
	width: 260px;
	height: 160px;
	

}

.advertisement{
	width: 335px;
	height: 335px;
	box-sizing: content;
	overflow: hidden;
	display: inline-block;
	border-radius: 5px;
}
.advertisement img{
	width: 335px;
	height: 335px;
}
/**/
.nav_left_bar li:nth-child(2){
	position: relative;
}
li:nth-child(2):hover .menu_scan{
	display: block;
	
}
.nav_left_bar li:nth-child(3){
	position: relative;
}
li:nth-child(3):hover .menu_activity{
	display: block;
	
}
.nav_left_bar li:nth-child(4){
	position: relative;
}
li:nth-child(4):hover .menu_course{
	display: block;
}
.nav_left_bar li:nth-child(8){
	position: relative;
}
.nav_left_bar li:nth-child(8):hover .menu_gold{
	display: block;
}
.menu_scan{
	position: absolute;
	width: 260px;
	height: 160px;
	line-height: 30px;
	left: -87px;
	top: 55px;
	width: 260px;
	height: 160px;
	background-color: rgb(255,255,255);
	display: none;
}
.menu_scan_list p{
	display: inline;
	padding-left: 12px;
	padding-right: 12px;
	line-height: 2px;


}
.menu_activity{
		width: 370px;
		height: 213px;
		line-height: 34px;
		position: absolute;
		left: -143px;
		top: 62px;
		background-color:white;
		display: none;
}
.menu_course{
	width: 230px;
	height: 125px;
	background-color: white;
	line-height: 20px;
	position: absolute;
	left: -70px;
	display: none;
}
.menu_course_list a{
	line-height: 20px;

}
.menu_course .left{
	border-right: 1px dotted black;
	line-height: 30px;
	margin-top: -6px;
	width: 100px;
}
.menu_gold{
	width: 180px;
	height:125px;
	background-color: white;
	line-height: 20px;
	position: absolute;
	left: -60px;
	display: none;
}
/*第三部分*/
.big_{
	width:100%;
}

.container{
	max-width:850px;
	margin:0 auto;
}
hgroup{

	max-width: 850px;
	
}
.nav_bar{
	width: 850px;
	height: 50px;
	background-color: white;
	line-height: 50px;
	margin: 18px auto;
	display: inline-block;
}
.nav_bar a{
	color: black;
	font-size: 15px;
	padding: 15px;

	opacity: 0.5;
	font-family:  PingFang SC,Hiragino Sans GB,Microsoft YaHei,STHeiti,WenQuanYi Micro Hei,Helvetica,Arial,sans-serif;

}
.nav_bar a:hover{

	background-color: #eee;
}
#circle{
	display:inline;
}
#circle_group{
	width:335px;
	height:247px;
	margin-top:-407px;
}
.circle{
	width: 305px;
	height: 32px;
	float: right;
	line-height: 32px;
	display: inline-block;
	background-color: white;
	margin-top: 12px;
	
	float:right;
	position:relative;
	
}
.content p{
	width:575px;
	height:44px;
}
.circle img{
	width: 20px;
	height: 20px;
}
.circle p{
	display: inline;
	
}
#circle_group{
	width:86px;
	height:165px;
	
	position:absolute;
	top:453px;
	left:-9px;
}
#artical{
	width: 810px;
	height: 127.94px;
	overflow:hidden;
	margin:0 auto;
	position:relative;

}
.content p{
	width:500px;
	
}


